<ion-view view-title="Map">
 <ion-content>
      <div id="map" data-tap-disabled="true"></div>
      <div class="button-set">
        <span class="button-set__action-buttons" ng-if="buttonsVisible">
            <a ng-repeat="category in categories track by category.id"
            class="button button-light button-round button-round--small "
            ng-class="category.icon"
            ng-click="toggleCategory(category.name)"
            ></a>
        </span>
        <a class="button button-light button-round ion-android-funnel" ng-click="buttonsVisible=!buttonsVisible"></a>
      </div>
    </ion-content>
</ion-view>
