.labels {
     background-color: $light;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 20px;
     font-weight: bold;
     text-align: center;
     border-radius:50%;
     width:36px;
     height:36px;
     line-height:36px;
     white-space: nowrap;
   }